<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Application Functions</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Application Functions</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-service_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_service_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9f6f39ce3ab6486a9898bf11009eb4b1.png" alt="Application Functions" usemap="#id-9f6f39ce3ab6486a9898bf11009eb4b1map"/>
			   <map name="id-9f6f39ce3ab6486a9898bf11009eb4b1map">
				  		<area shape="rect" coords="81,598,201,653" href="../elements/id-7889f87b5d8d4b8d92d17eb094d06f3b.html"  target="element">
				  		<area shape="rect" coords="237,598,357,653" href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html"  target="element">
				  		<area shape="rect" coords="861,598,981,653" href="../elements/id-38444d5b43874486948287a818f5eae2.html"  target="element">
				  		<area shape="rect" coords="711,598,831,653" href="../elements/id-f44139252b01478abc8fcbf0553b333d.html"  target="element">
				  		<area shape="rect" coords="869,216,989,271" href="../elements/id-ee8e24f5d6bd43e0af36fde83e956209.html"  target="element">
				  		<area shape="rect" coords="716,220,836,275" href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html"  target="element">
				  		<area shape="rect" coords="716,514,836,569" href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html"  target="element">
				  		<area shape="rect" coords="861,514,981,569" href="../elements/id-5dab16a16ed8451fa7e36d19c752176e.html"  target="element">
				  		<area shape="rect" coords="405,122,525,177" href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html"  target="element">
				  		<area shape="rect" coords="404,10,537,78" href="../elements/id-f6b33f6bf99f45e681197c03307d45de.html"  target="element">
				  		<area shape="rect" coords="10,214,130,269" href="../elements/id-5993a1f0a2944442ad3f2c0fa0178b93.html"  target="element">
				  		<area shape="rect" coords="10,38,130,93" href="../elements/id-ff25abc857d14919a7da3c5d812926ba.html"  target="element">
				  		<area shape="rect" coords="10,122,130,177" href="../elements/id-afe0c4c1871448d5b3be345cc21039ff.html"  target="element">
				  		<area shape="rect" coords="213,118,333,173" href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html"  target="element">
				  		<area shape="rect" coords="711,418,842,473" href="../elements/id-93055975adc2465087c289ecb2a19384.html"  target="element">
				  		<area shape="rect" coords="873,418,993,473" href="../elements/id-8c84fc2e5b3e43959e529691fc99b711.html"  target="element">
				  		<area shape="rect" coords="862,302,995,378" href="../elements/id-b70e465f92fc4c9b9a07cadec2b8211b.html"  target="element">
				  		<area shape="rect" coords="711,312,831,367" href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html"  target="element">
				  		<area shape="rect" coords="465,454,585,509" href="../elements/id-10e0ad6b6f8c4d23a01ae0a5ad6c7489.html"  target="element">
				  		<area shape="rect" coords="309,449,441,514" href="../elements/id-dff6e7b620f543bf95a9ab980c765b15.html"  target="element">
				  		<area shape="rect" coords="393,366,513,421" href="../elements/id-5e749acaae31451eb69cfecca42e4955.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
											    <td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dff6e7b620f543bf95a9ab980c765b15.html" target="element"> Stitch and federate global Graphql API </a> </td>
											    <td> <a href="../elements/id-dff6e7b620f543bf95a9ab980c765b15.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10e0ad6b6f8c4d23a01ae0a5ad6c7489.html" target="element"> Control access permissions for schemas </a> </td>
											    <td> <a href="../elements/id-10e0ad6b6f8c4d23a01ae0a5ad6c7489.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
											    <td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b70e465f92fc4c9b9a07cadec2b8211b.html" target="element"> Content management for property publications </a> </td>
											    <td> <a href="../elements/id-b70e465f92fc4c9b9a07cadec2b8211b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8c84fc2e5b3e43959e529691fc99b711.html" target="element"> Schedule property appointments </a> </td>
											    <td> <a href="../elements/id-8c84fc2e5b3e43959e529691fc99b711.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element"> EasyAppointments </a> </td>
											    <td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
											    <td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-afe0c4c1871448d5b3be345cc21039ff.html" target="element"> Display property catalalog </a> </td>
											    <td> <a href="../elements/id-afe0c4c1871448d5b3be345cc21039ff.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ff25abc857d14919a7da3c5d812926ba.html" target="element"> Display schedule appointment UI </a> </td>
											    <td> <a href="../elements/id-ff25abc857d14919a7da3c5d812926ba.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5993a1f0a2944442ad3f2c0fa0178b93.html" target="element"> Display contact forms </a> </td>
											    <td> <a href="../elements/id-5993a1f0a2944442ad3f2c0fa0178b93.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6b33f6bf99f45e681197c03307d45de.html" target="element"> Client application serverside rendering </a> </td>
											    <td> <a href="../elements/id-f6b33f6bf99f45e681197c03307d45de.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
											    <td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5dab16a16ed8451fa7e36d19c752176e.html" target="element"> Execute custom business logic </a> </td>
											    <td> <a href="../elements/id-5dab16a16ed8451fa7e36d19c752176e.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
											    <td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html" target="element"> Google Cloud Storage </a> </td>
											    <td> <a href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee8e24f5d6bd43e0af36fde83e956209.html" target="element"> Store and server files and images </a> </td>
											    <td> <a href="../elements/id-ee8e24f5d6bd43e0af36fde83e956209.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
											    <td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38444d5b43874486948287a818f5eae2.html" target="element"> Process online payments </a> </td>
											    <td> <a href="../elements/id-38444d5b43874486948287a818f5eae2.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element"> Stripe UI </a> </td>
											    <td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7889f87b5d8d4b8d92d17eb094d06f3b.html" target="element"> Input payment data safely </a> </td>
											    <td> <a href="../elements/id-7889f87b5d8d4b8d92d17eb094d06f3b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-77687935bfc54e1796560f3f44544d49.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-77687935bfc54e1796560f3f44544d49.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																		<td> <a href="../elements/id-dff6e7b620f543bf95a9ab980c765b15.html" target="element"> Stitch and federate global Graphql API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1b8c81a662d84aa1bf2a8077d282c762.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b8c81a662d84aa1bf2a8077d282c762.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																		<td> <a href="../elements/id-10e0ad6b6f8c4d23a01ae0a5ad6c7489.html" target="element"> Control access permissions for schemas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14090ec205bf4a2cb9f8bb6b493d51a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14090ec205bf4a2cb9f8bb6b493d51a2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																		<td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f170e4672b1441ec95691539619df9e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f170e4672b1441ec95691539619df9e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
																		<td> <a href="../elements/id-b70e465f92fc4c9b9a07cadec2b8211b.html" target="element"> Content management for property publications </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d59bec932222401ba20d66471b7c08a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d59bec932222401ba20d66471b7c08a5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
																		<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c2382cd1e115443a9f5df77396fa4cb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c2382cd1e115443a9f5df77396fa4cb5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element"> EasyAppointments </a> </td>
																		<td> <a href="../elements/id-8c84fc2e5b3e43959e529691fc99b711.html" target="element"> Schedule property appointments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9cd665c9b45d458c9228579b0cbcf112.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9cd665c9b45d458c9228579b0cbcf112.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element"> EasyAppointments </a> </td>
																		<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-90010823283440809f3582aa65112254.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90010823283440809f3582aa65112254.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																		<td> <a href="../elements/id-5993a1f0a2944442ad3f2c0fa0178b93.html" target="element"> Display contact forms </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4617fe0f7ce84ac3b69829184a3d2932.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4617fe0f7ce84ac3b69829184a3d2932.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																		<td> <a href="../elements/id-afe0c4c1871448d5b3be345cc21039ff.html" target="element"> Display property catalalog </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-763edb386a8047259ffb8df5867ea2dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-763edb386a8047259ffb8df5867ea2dc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																		<td> <a href="../elements/id-ff25abc857d14919a7da3c5d812926ba.html" target="element"> Display schedule appointment UI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d6b467aa71ad47cbba6d72afc303bd17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6b467aa71ad47cbba6d72afc303bd17.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36183a4ed9644ab5851c798945d71a6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36183a4ed9644ab5851c798945d71a6d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
																		<td> <a href="../elements/id-f6b33f6bf99f45e681197c03307d45de.html" target="element"> Client application serverside rendering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ab481840990436eadd6173849ba28ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ab481840990436eadd6173849ba28ca.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
																		<td> <a href="../elements/id-5dab16a16ed8451fa7e36d19c752176e.html" target="element"> Execute custom business logic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9ce959d6c0394f47b35b4778b3f78cff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ce959d6c0394f47b35b4778b3f78cff.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
																		<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-61f4a0a5c213459aba6e04707dc484af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61f4a0a5c213459aba6e04707dc484af.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html" target="element"> Google Cloud Storage </a> </td>
																		<td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87c1660c246047a8b028e9c37b24c60e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87c1660c246047a8b028e9c37b24c60e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html" target="element"> Google Cloud Storage </a> </td>
																		<td> <a href="../elements/id-ee8e24f5d6bd43e0af36fde83e956209.html" target="element"> Store and server files and images </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f1ca0262aed14b8b95feee049612757d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1ca0262aed14b8b95feee049612757d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
																		<td> <a href="../elements/id-38444d5b43874486948287a818f5eae2.html" target="element"> Process online payments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b9931daf683426680429f7af40a622a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b9931daf683426680429f7af40a622a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
																		<td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e87a615405f84380becb698489d8030d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e87a615405f84380becb698489d8030d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
																		<td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element"> Stripe UI </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc0be2cb4a4544729576b555fb9269aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc0be2cb4a4544729576b555fb9269aa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element"> Stripe UI </a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b9d748123c774d1a9c53c2db197bba83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b9d748123c774d1a9c53c2db197bba83.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element"> Stripe UI </a> </td>
																		<td> <a href="../elements/id-7889f87b5d8d4b8d92d17eb094d06f3b.html" target="element"> Input payment data safely </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>