<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Techonology Usage</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Techonology Usage</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-technology_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_technology_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ccb505915de442d688be79b78e4645d4.png" alt="Techonology Usage" usemap="#id-ccb505915de442d688be79b78e4645d4map"/>
			   <map name="id-ccb505915de442d688be79b78e4645d4map">
				  		<area shape="rect" coords="154,382,274,437" href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html"  target="element">
				  		<area shape="rect" coords="154,253,274,308" href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html"  target="element">
				  		<area shape="rect" coords="10,322,130,377" href="../elements/id-1be0d86831d7435f8e4fe0a31eb2ba6f.html"  target="element">
				  		<area shape="rect" coords="10,178,130,233" href="../elements/id-4a5aa96407a746d8aa6dfbd138d07736.html"  target="element">
				  				<area shape="rect" coords="808,838,928,893" href="../elements/id-f44139252b01478abc8fcbf0553b333d.html"  target="element">

				  		<area shape="rect" coords="796,778,964,922" href="../elements/id-b601e8354a59433ba1028083befa9d12.html"  target="element">
				  		<area shape="rect" coords="1246,58,1366,113" href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html"  target="element">
				  				<area shape="rect" coords="814,682,934,737" href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html"  target="element">

				  		<area shape="rect" coords="790,622,970,766" href="../elements/id-7c226fb8794a400b9c137fdb80107f71.html"  target="element">
				  				<area shape="rect" coords="586,262,706,317" href="../elements/id-5e749acaae31451eb69cfecca42e4955.html"  target="element">

				  		<area shape="rect" coords="562,202,743,335" href="../elements/id-73abc01b591f4875bf5ccb365c4da77b.html"  target="element">
				  		<area shape="rect" coords="1061,265,1181,320" href="../elements/id-7b8ee9c96c104c1cab43018e48c9c2ca.html"  target="element">
				  				<area shape="rect" coords="1258,262,1378,317" href="../elements/id-c233e8b61be44f5bbd54a2a408677fd7.html"  target="element">

				  		<area shape="rect" coords="1234,214,1415,347" href="../elements/id-5a0e540cb9764f2ba8af3bc81f77088e.html"  target="element">
				  				<area shape="rect" coords="814,466,934,521" href="../elements/id-5f935b4276724de98a9f0afab584438a.html"  target="element">

				  		<area shape="rect" coords="790,406,971,539" href="../elements/id-e81a53ef32274e41a0b0a5eb723cb957.html"  target="element">
				  				<area shape="rect" coords="1186,454,1306,509" href="../elements/id-7e43b651fe254115b016fc35eb0cd7d3.html"  target="element">
				  				<area shape="rect" coords="1186,526,1306,581" href="../elements/id-0fe53be57b9840a29fd8e0a1350cadb5.html"  target="element">
				  				<area shape="rect" coords="1042,526,1162,581" href="../elements/id-5886bb3692854c309eb8652b5735d912.html"  target="element">
				  				<area shape="rect" coords="1042,454,1162,509" href="../elements/id-93055975adc2465087c289ecb2a19384.html"  target="element">

				  		<area shape="rect" coords="1030,406,1331,611" href="../elements/id-853f481609df4a71b70a6bad21678263.html"  target="element">
				  				<area shape="rect" coords="826,70,946,125" href="../elements/id-b0795b1741224ce5ac8989e00dc986c4.html"  target="element">

				  		<area shape="rect" coords="802,10,995,143" href="../elements/id-45630f1f12824925a9a0cbd4fb5ca78b.html"  target="element">
				  				<area shape="rect" coords="1054,70,1174,125" href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html"  target="element">

				  		<area shape="rect" coords="1030,10,1211,143" href="../elements/id-0beacb36babb49a689adc5dbe4939f70.html"  target="element">
				  				<area shape="rect" coords="322,262,442,317" href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html"  target="element">

				  		<area shape="rect" coords="298,202,479,335" href="../elements/id-e0e8fa4e072740f09770aa1c56de3bb8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e0e8fa4e072740f09770aa1c56de3bb8.html" target="element"> App Engine Default Service </a> </td>
											    <td> <a href="../elements/id-e0e8fa4e072740f09770aa1c56de3bb8.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
													    <td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0beacb36babb49a689adc5dbe4939f70.html" target="element"> App Engine Cms Service </a> </td>
											    <td> <a href="../elements/id-0beacb36babb49a689adc5dbe4939f70.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
													    <td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-45630f1f12824925a9a0cbd4fb5ca78b.html" target="element"> Cloud Run Strapi Graphl Proxy Service </a> </td>
											    <td> <a href="../elements/id-45630f1f12824925a9a0cbd4fb5ca78b.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b0795b1741224ce5ac8989e00dc986c4.html" target="element"> Strapi Graphql Proxy </a> </td>
													    <td> <a href="../elements/id-b0795b1741224ce5ac8989e00dc986c4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-853f481609df4a71b70a6bad21678263.html" target="element"> Lamp-1 VM </a> </td>
											    <td> <a href="../elements/id-853f481609df4a71b70a6bad21678263.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element"> EasyAppointments </a> </td>
													    <td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5886bb3692854c309eb8652b5735d912.html" target="element"> Apache Web Server </a> </td>
													    <td> <a href="../elements/id-5886bb3692854c309eb8652b5735d912.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0fe53be57b9840a29fd8e0a1350cadb5.html" target="element"> MySQL DBMS </a> </td>
													    <td> <a href="../elements/id-0fe53be57b9840a29fd8e0a1350cadb5.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7e43b651fe254115b016fc35eb0cd7d3.html" target="element"> PhpMyAdmin </a> </td>
													    <td> <a href="../elements/id-7e43b651fe254115b016fc35eb0cd7d3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e81a53ef32274e41a0b0a5eb723cb957.html" target="element"> Cloud Run EasyApointments Graphlq Proxy </a> </td>
											    <td> <a href="../elements/id-e81a53ef32274e41a0b0a5eb723cb957.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5f935b4276724de98a9f0afab584438a.html" target="element"> EasyAppointments Graphql Proxy </a> </td>
													    <td> <a href="../elements/id-5f935b4276724de98a9f0afab584438a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5a0e540cb9764f2ba8af3bc81f77088e.html" target="element"> Cloud SQL Postgres-1 </a> </td>
											    <td> <a href="../elements/id-5a0e540cb9764f2ba8af3bc81f77088e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c233e8b61be44f5bbd54a2a408677fd7.html" target="element"> Postgres DBMS </a> </td>
													    <td> <a href="../elements/id-c233e8b61be44f5bbd54a2a408677fd7.html" target="element" class="i18n-elementtype-SystemSoftware"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7b8ee9c96c104c1cab43018e48c9c2ca.html" target="element"> Unix Socket </a> </td>
											    <td> <a href="../elements/id-7b8ee9c96c104c1cab43018e48c9c2ca.html" target="element" class="i18n-elementtype-TechnologyInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-73abc01b591f4875bf5ccb365c4da77b.html" target="element"> Cloud Run Hasura Service </a> </td>
											    <td> <a href="../elements/id-73abc01b591f4875bf5ccb365c4da77b.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
													    <td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7c226fb8794a400b9c137fdb80107f71.html" target="element"> Cloud Function Docstay Graphql Server </a> </td>
											    <td> <a href="../elements/id-7c226fb8794a400b9c137fdb80107f71.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
													    <td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html" target="element"> Google Cloud Storage </a> </td>
											    <td> <a href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b601e8354a59433ba1028083befa9d12.html" target="element"> External Stripe Provider </a> </td>
											    <td> <a href="../elements/id-b601e8354a59433ba1028083befa9d12.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
													    <td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4a5aa96407a746d8aa6dfbd138d07736.html" target="element"> User Desktop </a> </td>
											    <td> <a href="../elements/id-4a5aa96407a746d8aa6dfbd138d07736.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1be0d86831d7435f8e4fe0a31eb2ba6f.html" target="element"> User Mobile </a> </td>
											    <td> <a href="../elements/id-1be0d86831d7435f8e4fe0a31eb2ba6f.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
											    <td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element"> Stripe UI </a> </td>
											    <td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1aabaa19bd7e46f4abd8562a8447c84d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1aabaa19bd7e46f4abd8562a8447c84d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e0e8fa4e072740f09770aa1c56de3bb8.html" target="element"> App Engine Default Service </a> </td>
																		<td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d6b467aa71ad47cbba6d72afc303bd17.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6b467aa71ad47cbba6d72afc303bd17.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
																				<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cf663d727b32408185cf7a25b83d7508.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf663d727b32408185cf7a25b83d7508.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-0beacb36babb49a689adc5dbe4939f70.html" target="element"> App Engine Cms Service </a> </td>
																		<td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-b92a8b7e44c0498d850c0f391e00ed50.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b92a8b7e44c0498d850c0f391e00ed50.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
																				<td> <a href="../elements/id-b0795b1741224ce5ac8989e00dc986c4.html" target="element"> Strapi Graphql Proxy </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6afe4dd75e44458ca58ed0aa38e02f9b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6afe4dd75e44458ca58ed0aa38e02f9b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
																				<td> <a href="../elements/id-7b8ee9c96c104c1cab43018e48c9c2ca.html" target="element"> Unix Socket </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-cadcb22efdda4d53aafa20f044873dea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cadcb22efdda4d53aafa20f044873dea.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-45630f1f12824925a9a0cbd4fb5ca78b.html" target="element"> Cloud Run Strapi Graphl Proxy Service </a> </td>
																		<td> <a href="../elements/id-b0795b1741224ce5ac8989e00dc986c4.html" target="element"> Strapi Graphql Proxy </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-85241418a41244348661b6faf81018d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-85241418a41244348661b6faf81018d4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-b0795b1741224ce5ac8989e00dc986c4.html" target="element"> Strapi Graphql Proxy </a> </td>
																				<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9d3daaf1fd8f4816b4514bfbefcdfe07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d3daaf1fd8f4816b4514bfbefcdfe07.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-853f481609df4a71b70a6bad21678263.html" target="element"> Lamp-1 VM </a> </td>
																		<td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element"> EasyAppointments </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96df1d15114645b1899630e337bcdffb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96df1d15114645b1899630e337bcdffb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-853f481609df4a71b70a6bad21678263.html" target="element"> Lamp-1 VM </a> </td>
																		<td> <a href="../elements/id-5886bb3692854c309eb8652b5735d912.html" target="element"> Apache Web Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dc8577678adc4ccf8a6262c5e318e107.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dc8577678adc4ccf8a6262c5e318e107.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-853f481609df4a71b70a6bad21678263.html" target="element"> Lamp-1 VM </a> </td>
																		<td> <a href="../elements/id-0fe53be57b9840a29fd8e0a1350cadb5.html" target="element"> MySQL DBMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e041bb782d374d5b883a6886429954e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e041bb782d374d5b883a6886429954e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-853f481609df4a71b70a6bad21678263.html" target="element"> Lamp-1 VM </a> </td>
																		<td> <a href="../elements/id-7e43b651fe254115b016fc35eb0cd7d3.html" target="element"> PhpMyAdmin </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-374ac6b9d80d43e3bcc39a391a1acba4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-374ac6b9d80d43e3bcc39a391a1acba4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-93055975adc2465087c289ecb2a19384.html" target="element"> EasyAppointments </a> </td>
																				<td> <a href="../elements/id-5f935b4276724de98a9f0afab584438a.html" target="element"> EasyAppointments Graphql Proxy </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-202e7563fad448efb138b11ae64b260f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-202e7563fad448efb138b11ae64b260f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e81a53ef32274e41a0b0a5eb723cb957.html" target="element"> Cloud Run EasyApointments Graphlq Proxy </a> </td>
																		<td> <a href="../elements/id-5f935b4276724de98a9f0afab584438a.html" target="element"> EasyAppointments Graphql Proxy </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d4477a5f5a6b4052948c2c2618b9d4a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4477a5f5a6b4052948c2c2618b9d4a3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-5f935b4276724de98a9f0afab584438a.html" target="element"> EasyAppointments Graphql Proxy </a> </td>
																				<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-7652b011b5584517b44344e18a25fe52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7652b011b5584517b44344e18a25fe52.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-5a0e540cb9764f2ba8af3bc81f77088e.html" target="element"> Cloud SQL Postgres-1 </a> </td>
																		<td> <a href="../elements/id-c233e8b61be44f5bbd54a2a408677fd7.html" target="element"> Postgres DBMS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4393ee858e7e4217a74b5df1aefcd37a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4393ee858e7e4217a74b5df1aefcd37a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-5a0e540cb9764f2ba8af3bc81f77088e.html" target="element"> Cloud SQL Postgres-1 </a> </td>
																		<td> <a href="../elements/id-7b8ee9c96c104c1cab43018e48c9c2ca.html" target="element"> Unix Socket </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4735fb160bf14518ae110d167f2f678a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4735fb160bf14518ae110d167f2f678a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-73abc01b591f4875bf5ccb365c4da77b.html" target="element"> Cloud Run Hasura Service </a> </td>
																		<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-629000d3792648b583a9d8942d727d71.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-629000d3792648b583a9d8942d727d71.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																				<td> <a href="../elements/id-3df760a230a14acdbacfd4f8f7735ebe.html" target="element"> Next Frontend Server </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-fcda56f4995540e9beeffc2d9aaf58d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fcda56f4995540e9beeffc2d9aaf58d3.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-7c226fb8794a400b9c137fdb80107f71.html" target="element"> Cloud Function Docstay Graphql Server </a> </td>
																		<td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9ce959d6c0394f47b35b4778b3f78cff.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9ce959d6c0394f47b35b4778b3f78cff.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
																				<td> <a href="../elements/id-5e749acaae31451eb69cfecca42e4955.html" target="element"> Hasura </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-61f4a0a5c213459aba6e04707dc484af.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61f4a0a5c213459aba6e04707dc484af.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-12b7e455e1d145f7817f9ccf41d7d396.html" target="element"> Google Cloud Storage </a> </td>
																		<td> <a href="../elements/id-95a2b3effc9e40408d92d9cb4b4eceb9.html" target="element"> Strapi </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6a8be7d4326546939e3c7315a929275c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a8be7d4326546939e3c7315a929275c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-b601e8354a59433ba1028083befa9d12.html" target="element"> External Stripe Provider </a> </td>
																		<td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-9b9931daf683426680429f7af40a622a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9b9931daf683426680429f7af40a622a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
																				<td> <a href="../elements/id-c73c303dd7e749c0bd91242bfef2e044.html" target="element"> Docstay Graphql Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e87a615405f84380becb698489d8030d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e87a615405f84380becb698489d8030d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-f44139252b01478abc8fcbf0553b333d.html" target="element"> Stripe </a> </td>
																				<td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element"> Stripe UI </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-23d977bcbd0e43bfa1def1a7f9f20af0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23d977bcbd0e43bfa1def1a7f9f20af0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-4a5aa96407a746d8aa6dfbd138d07736.html" target="element"> User Desktop </a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fc57dac2211f4ad5b42a35022619b96f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc57dac2211f4ad5b42a35022619b96f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-1be0d86831d7435f8e4fe0a31eb2ba6f.html" target="element"> User Mobile </a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cc0be2cb4a4544729576b555fb9269aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc0be2cb4a4544729576b555fb9269aa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-222f574112734c3d8f871ca00ee4d8da.html" target="element"> Stripe UI </a> </td>
																		<td> <a href="../elements/id-d7726c6b1b4b42f8b3dadfc794ae92a4.html" target="element"> React Client App </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>